@import "base.less";

@font-face {
    @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
}

@font-face {
    font-family       : "NotoSansKR";
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
    unicode-range     : U+0041-005A, U+0061-007A;
}

body {
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    font-family: "NotoSansKR";
    background : rgba(245, 245, 245, 1);
    margin     : auto;
}

// components
@import "component/popup.less";
@import "component/confirming-popup.less";
@import "component/swaper.less";

// views
@import "view/home.less";
@import "view/layout.less";