/*
https://github.com/Hanul/sky-css-base
v0.0.1 | 20210109
Author: Sim Young Jae
License: MIT
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
@font-face {
  @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
}
body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  background: #f5f5f5;
  margin: auto;
}
.dialogue.transaction-alert {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  width: 100%;
  margin: auto;
  border-radius: 4px;
  background-color: #eaf2fd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 30px;
}
.dialogue.transaction-alert > img {
  width: 100px;
  height: 100px;
  animation: rotate_image 60s linear infinite;
}
.dialogue.transaction-alert > p {
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 16px;
}
@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}
.popup-background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 20px 0;
}
.home-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 668px;
  margin: auto;
}
.home-view > section {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #EAF2FD;
  border-radius: 8px;
  padding: 32px;
}
.home-view > .swap-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}
.home-view > .swap-container > .form-container {
  display: flex;
}
.home-view > .swap-container > .form-container > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-view > .swap-container > .form-container > form > img {
  width: 52px;
  height: 52px;
  margin-bottom: 8px;
}
.home-view > .swap-container > .form-container > form > select {
  max-width: 138px;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 17px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 6px 8px;
  border: none;
}
.home-view > .swap-container > .form-container > form > p {
  font-family: SF UI Display;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #848C9B;
}
.home-view > .swap-container > .form-container > form > a {
  max-width: 138px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 14px;
  color: #FFFFFF;
  padding: 7px;
  background: #4874F6;
  border-radius: 4px;
}
.home-view > .swap-container > .amount-container > .title {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 8px;
}
.home-view > .swap-container > .amount-container > .input-container > input {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding: 7px 4px;
  text-align: right;
  color: #4874f6;
}
.home-view > .swap-container > .fee-container {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.home-view > .swap-container > .fee-container > .text-container {
  display: flex;
}
.home-view > .swap-container > .fee-container > .text-container > .title {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 8px;
  margin-right: 4px;
}
.home-view > .swap-container > .fee-container > .text-container > .caption {
  font-size: 14px;
  color: #4874f6;
}
.home-view > .swap-container > .fee-container > .text-container > .amount {
  font-size: 14px;
  color: #4874f6;
  margin-right: 8px;
}
.home-view > .swap-container > .fee-container > .text-container > .amount-caption {
  font-size: 14px;
  color: black;
}
.home-view > .swap-container > .received-container {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.home-view > .swap-container > .received-container > .text-container {
  display: flex;
}
.home-view > .swap-container > .received-container > .text-container > .title {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 8px;
  margin-right: 4px;
}
.home-view > .swap-container > .received-container > .text-container > .amount {
  font-size: 14px;
  color: #4874f6;
  margin-right: 8px;
}
.home-view > .swap-container > .received-container > .text-container > .amount-caption {
  font-size: 14px;
  color: black;
}
.home-view > .swap-container > .warning-container {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
.home-view > .swap-container > .warning-container > .content {
  max-width: 392px;
  width: 100%;
  padding: 11px;
  display: flex;
  background: #A2AFCA;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}
.home-view > .swap-container > .warning-container > .content > p {
  margin-left: 8px;
}
.home-view > .swap-container > .button-container {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 8px;
}
.home-view > .swap-container > .button-container > .content {
  display: flex;
  width: 100%;
  max-width: 392px;
  gap: 32px;
}
.home-view > .swap-container > .button-container > .content > button {
  background: #4874F6;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}
.home-view > .swap-container > .button-container > .content > .disable-button {
  background: #C8C8C8;
  border-radius: 4px;
  color: #E0E0E0;
  width: 100%;
}
.home-view > .history-container {
  margin-top: 24px;
}
.home-view > .history-container > .title {
  font-weight: bold;
  font-size: 14px;
}
.home-view > .history-container > p {
  color: #969696;
  font-size: 12px;
  line-height: 14px;
  margin-top: 4px;
}
.home-view > .history-container > table {
  margin-top: 24px;
}
.home-view > .history-container > table > thead {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #405670;
}
.home-view > .history-container > table > tbody > tr > td {
  align-items: center;
  padding-top: 12px;
}
.home-view > .history-container > table > tbody > tr > td > p {
  font-size: 10px;
  line-height: 12px;
}
.home-view > .history-container > table > tbody > tr > td > .chain-container {
  display: flex;
  align-items: center;
}
.home-view > .history-container > table > tbody > tr > td > .chain-container > img {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
.home-view > .history-container > table > tbody > tr > td > .chain-container > p {
  font-size: 10px;
  line-height: 12px;
}
.home-view > .history-container > table > tbody > tr > td > button {
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  background: #4874F6;
  border-radius: 4px;
  color: #FFFFFF;
  padding: 5px 16px;
}
.home-view > .history-container > table > tbody > tr > td > .status-container {
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  display: flex;
  flex-direction: column;
  text-decoration-line: underline;
  color: #4874F6;
}
.home-view > .history-container > table > tbody > tr > td > .status-container > a {
  margin-top: 4px;
}
.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 668px;
  margin: auto;
  padding-bottom: 20px;
}
@media only screen and (max-width: 719px) {
  .layout {
    padding: 20px;
  }
}
.layout > header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}
.layout > header > .apm-bridge-logo {
  width: 176.49px;
  height: 36px;
}
.layout > header > .gaia-bridge-logo {
  width: 114.87px;
  height: 36px;
}
.layout > main {
  width: 100%;
}
.layout > footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
@media only screen and (max-width: 719px) {
  .layout > footer {
    flex-direction: column;
  }
}
.layout > footer > .copyright {
  font-size: 14px;
  line-height: 17px;
  color: #969696;
}
.layout > footer > .sns {
  display: flex;
  gap: 18px;
}
@media only screen and (max-width: 719px) {
  .layout > footer > .sns {
    margin-top: 12px;
  }
}
.layout > footer > .sns > a {
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;
  color: #969696;
}

